{% extends "news/template.html" %}


{% block content %}
            <div class="col-md-12">
            {% for item in news %}
            {% if item.is_published %}
            <div class="card mb-3">
                <div class="card-header">
                  <p>Категория: {{ item.category }}   </p>
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{ item.title }}</h4>
                  <p class="card-text">{{ item.content }}</p>
                  <p>Написано {{ item.created_at|date:"d M Y, D " }}</p>
                  <a href="#" class="btn btn-primary">Читать дальше</a>
                </div>
              </div>
            {% endif %}
            {% endfor %}
{% endblock %}
